@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Regular.eot");
  src: url("../assets/fonts/Inter-package/Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Regular.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Regular.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Regular.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Regular.svg#Inter Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Inter Bold.eot");
  src: url("../assets/fonts/Inter-package/Inter Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Bold.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Bold.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Bold.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Bold.svg#Inter Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-package/Bold.eot");
  src: url("../assets/fonts/Montserrat-package/Montserrat Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff") format("woff"), url("../assets/fonts/Montserrat-package/Montserrat Bold.ttf") format("truetype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.svg#Montserrat Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url("../assets/fonts/Playfair_Display-package/Display Medium.eot");
  src: url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff2") format("woff2"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff") format("woff"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.svg#Playfair Display Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
.background-price-page {
  background-image: url("/assets/img/price_img/rings_price.png");
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-about-page {
  background-image: url(/assets/img/about_img/RingsGroup_35.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-contact-page {
  background-image: url(/assets/img/contact_img/group-36.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-home-page {
  background-image: url(/assets/img/home_img/homeRings.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-gallery-page {
  background-image: url(/assets/img/gallery_img/rings.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: "Playfair Display Medium";
  font-weight: 500;
  line-height: 132.9%;
  color: #f5f5f5;
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
  font-size: 30px;
  line-height: 139.4%;
}
@media screen and (max-width: 599px) {
  .text {
    font-size: 15px;
  }
}

.button {
  border-radius: 42px;
  background-color: #728bad;
  color: #f5f5f5;
  font-size: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .text {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 599px) {
  .text {
    font-size: 15px;
  }
}

.advantages {
  background-color: #222021;
  max-width: 1188px;
  width: 100%;
  min-height: 927px;
  margin: 0 auto;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  gap: 121px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages {
    max-width: 639px;
    gap: 60px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 599px) {
  .advantages {
    max-width: 305px;
    min-height: 599px;
    gap: 46px;
    margin-bottom: 70px;
  }
}
.advantages__title-wrapper {
  max-width: 1040px;
  width: 100%;
  display: flex;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages__title-wrapper {
    max-width: 639px;
  }
}
@media screen and (max-width: 599px) {
  .advantages__title-wrapper {
    max-width: 305px;
    padding: 0 9px;
  }
}
.advantages__btn-wrapper {
  display: flex;
  justify-content: center;
}
.advantages__btn-wrapper button {
  max-width: 33%;
  width: 100%;
  padding: 1% 0 1% 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages__btn-wrapper button {
    max-width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .advantages__btn-wrapper button {
    max-width: 65%;
    font-size: 15px;
  }
}

.advantages-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 32px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages-info {
    flex-direction: column-reverse;
    padding: 0 25px;
  }
}
@media screen and (max-width: 599px) {
  .advantages-info {
    flex-direction: column-reverse;
    padding: 0 15px;
    gap: 46px;
  }
}
.advantages-info__img-wrapper img {
  max-width: 609px;
  width: 100%;
}
.advantages-info__text {
  max-width: 453px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages-info__text {
    margin: 0 auto 0 0;
    font-size: 25px;
    max-width: 500px;
  }
}
@media screen and (max-width: 599px) {
  .advantages-info__text {
    max-width: 320px;
    font-size: 15px;
    gap: 11px;
  }
}
.advantages-info__p-12 {
  max-width: 360px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .advantages-info__p-3 {
    max-width: 360px;
  }
}

.about {
  border-radius: 0px 42px 42px 0px;
  background-color: #1e0c06;
  max-width: 1325px;
  width: 100%;
  min-height: 775px;
  padding: 32px;
  box-shadow: 0px -8px 52px 0px rgba(238, 238, 238, 0.17);
  display: flex;
  margin-right: 28px;
  margin-bottom: 200px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about {
    min-height: 775px;
    flex-direction: column;
    gap: 46px;
  }
}
@media screen and (max-width: 599px) {
  .about {
    max-width: 340px;
    min-height: 674px;
    flex-direction: column;
    gap: 46px;
  }
}

.about-arcticle {
  border: solid 1px red;
  max-width: 516px;
  margin-left: 16%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 67px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about-arcticle {
    max-width: 560px;
    margin-left: 34px;
    gap: 46px;
  }
}
@media screen and (max-width: 599px) {
  .about-arcticle {
    max-width: 283px;
    margin-left: 17px;
    gap: 36px;
  }
}
.about-arcticle__text {
  height: 294px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .about-arcticle__text {
    height: 146px;
  }
}

.about-arcticle__title {
  height: 120px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about-arcticle__title {
    height: 80px;
  }
}
@media screen and (max-width: 599px) {
  .about-arcticle__title {
    height: 40px;
  }
}

.about-pictures {
  border: solid 1px white;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 599px) {
  .about-pictures {
    max-width: 283px;
    margin: 0 auto;
    gap: 36px;
  }
}
.about-pictures__img1 {
  position: absolute;
  top: 29px;
  right: 38px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about-pictures__img1 {
    top: 29px;
    right: 38px;
  }
}
@media screen and (max-width: 599px) {
  .about-pictures__img1 {
    height: 111px;
    width: 111px;
    top: 29px;
    right: 38px;
  }
}
.about-pictures__background-img2 {
  height: 337px;
  width: 337px;
  position: absolute;
  top: 145px;
  right: 125px;
  border-radius: 42px;
  background-color: #1e0c06;
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .about-pictures__background-img2 {
    height: 182.8px;
    width: 182.8px;
  }
}
.about-pictures__img2 {
  position: absolute;
  top: 155px;
  right: 135px;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .about-pictures__img2 {
    height: 182.8px;
    width: 182.8px;
  }
}
.about-pictures__img3 {
  position: absolute;
  bottom: -1px;
  right: 70px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about-pictures {
    margin-left: 22%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 599px) {
  .about-pictures {
    height: 112px;
    width: 111px;
    bottom: 29px;
    right: 75px;
  }
}

.text-bold {
  font-weight: bold;
}

.empty-footer {
  height: 200px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=home.css.map */