@import "../fonts";
@import "../template";

.item {
    display: flex;
    gap: 14px;
    align-items: center;

    @media #{$mobile} {
        gap: 10px;
        align-items: center;
    }
}


//footer

.footer {
    // position: absolute;
    display: flex;
    width: 100%;
    height: 301px;
    background-color: #222021;
    box-shadow: 0px -6px 52px 0px rgba(245, 245, 245, 0.17);
    padding: 4%;
    max-width: 1440px;
    gap: 58PX;

    @media #{$mobile} {
        height: 352px;
    }

    &__container {
        // margin: 4%;
        width: 100%;
    }

    &__basic {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10%;
        max-width: 1168px;

        @media #{$tablet} {
            // flex-direction: column;
            flex-wrap: wrap;
        }

        @media #{$mobile} {
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 89px;
        }
    }

    &__logo-icon {
        @media #{$mobile} {
            width: 162px;
        }
    }

    // &__tel{
    //     display: flex;
    //     align-items: center;
    //     // width: 100%;
    //     // margin-left: 70px;
    //     // margin-right: 107px;
    // }

    &__tel-icon {
        width: 50px;
        height: 50px;

        @media #{$mobile} {
            width: 24px;
        }
    }

    &__tel-text {
        // font-size: 1.7em;
        width: 291px;
        height: 42px;
    }

    &__address {
        // display: flex;
        // align-items: center;
        width: 377px;

        @media #{$mobile} {
            width: 250px;
        }
    }

    &__address-icon {
        width: 50px;
        height: 50px;

        @media #{$mobile} {
            width: 24px;
            height: 24px;
        }
    }

    &__address-text {
        // font-size: 1.7em;
        max-width: 280px;
    }

    &__privacy {
        display: flex;
        justify-content: flex-start;
    }

    &__privacy-text {
        @extend %text;
        font-size: 1.3em;
    }
}