$mobile: "screen and (max-width: 599px)";
$tablet: "screen and (min-width: 600px) and (max-width: 1023px)";
$desktop: "screen and (min-width: 1024px)";
$largedesktop: "screen and (min-width: 1920px)";

$text-color: #F5F5F5;
$colorbtn: #728bad;

.background-price-page {
    background-image: url("/assets/img/price_img/rings_price.png");
    background-size: cover;
    background-color: rgba(33, 33, 33);
}

.background-about-page {
    background-image: url(/assets/img/about_img/RingsGroup_35.png);
    background-size: cover;
    background-color: rgba(33, 33, 33);
}

.background-contact-page {
    background-image: url(/assets/img/contact_img/group-36.png);
    background-size: cover;
    background-color: rgba(33, 33, 33);
}

.background-home-page {
    background-image: url(/assets/img/contact_img/group-36.png);
    background-size: cover;
    background-color: rgba(33, 33, 33);
}

.background-gallery-page {
    background-image: url(/assets/img/contact_img/group-36.png);
    background-size: cover;
    background-color: rgba(33, 33, 33);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
    // background-color: #222021;
}

%title {
    font-family: "Playfair Display Medium";
    font-weight: 500;
    line-height: 132.9%;
    color: #f5f5f5;
    font-size: 90px;
    text-transform: uppercase;
    // перекрыла временно марджины из normilize.css
    margin: 0;

    @media #{$tablet} {
        font-size: 60px;
    }

    @media #{$mobile} {
        font-size: 30px;
    }
}

%text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 30px;
    line-height: 139.4%;

    @media #{$mobile} {
        font-size: 15px;
    }
}

%elements-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F5F5F5;
    font-style: normal;
    line-height: 139.4%;
}

%button {
    border-radius: 42px;
    background-color: #728bad;
    color: #f5f5f5;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}