@import "../fonts";
@import "../template";
.block-ourworks {

    &__pic1 {
      max-width: 80%;
      margin: 3% 10% 0 10%;
      border-radius: 90px;
    }

    &__title {
      display: flex;
      justify-content: end;
      padding-right: 3%;
    }
  }